@page
@model IndexModel
@{
    ViewData["Title"] = "SimWeb - Strona Główna";
}

<h1>Aplikacja demonstracyjna Sim Web</h1>
<p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>
<p>Mapa typu torus.</p>
<p><strong>Sekwencja ruchów:</strong> dlrludluddlrulr.</p>
